<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freelycar.voice.audiorecorder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.freelycar.voice.audiorecorder.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.freelycar.voice.audiorecorder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.freelycar.voice.audiorecorder.TestHzActivity"
            android:label="test"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <service
            android:name="com.freelycar.voice.recorderlib.recorder.RecordService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>